body, html {
  margin: 0;
  padding: 0;
  background-color: #1B1C3B;
  height: 100%;
}

[v-cloak]{
display:none !important;
}

.el-message-box {
  background-color: #1B1C3B;
  border: none;
}

/*.el-table tr{
  background-color: #1B1C3B;
  border-color: #9595b5;
}*/
/*.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell{
  background-color: #2a2a4a;
}*/
.el-card {
  margin-top: 10px;
  background-color: #2a2a4a;
  color: #f6f6fb;
  border-radius: 6px;
  border: none;
}

.el-picker-panel, .el-date-table th,.el-date-picker__header-label,.el-picker-panel__icon-btn,.el-time-spinner__item,.el-time-spinner__item.active:not(.disabled) {
  color: #4c4c9e;
}

.el-select .el-input {
  width: 100px;
}

.el-icon-search,
.el-input-group__prepend div.el-select .el-input__inner,
.el-select-dropdown__item.selected,
.el-select-dropdown__item.hover,
.el-input-group__append,
.el-input-group__prepend {
  color: #FFF;
}