body, html {
  margin: 0;
  padding: 0;
  background-color: #1B1C3B;
  height: 100%;
}

[v-cloak]{
display:none !important;
}

.el-message-box {
  background-color: #1B1C3B;
  border: none;
}
.search .el-input {
    width: 100%;
}


.el-form-item__label {
    color: #9595b5;
}

.el-tooltip__popper.is-dark{
    background: #fff;
    color: #1B1C3B;
}

.el-card {
  margin-top: 10px;
  background-color: #2a2a4a;
  color: #f6f6fb;
  border-radius: 6px;
  border: none;
}
#loginForm .el-input__inner {
  background-color: #eeeeff;
  color: #2a2a4a;
}
.el-form-item__error{
  position: relative;
}

.el-picker-panel, .el-date-table th,.el-date-picker__header-label,.el-picker-panel__icon-btn,.el-time-spinner__item,.el-time-spinner__item.active:not(.disabled) {
  color: #4c4c9e;
}
.el-table, .el-table tr {
    background-color: #2a2a4a;
}
.el-select .el-input {
  width: 100px;
}
.el-menu.el-menu--horizontal {
    border-bottom: solid 1px #4A4B6D;
}
.el-loading-mask {
    background-color: rgba(255, 255, 255, 0.3);
}
.el-icon-search,
.el-input-group__prepend div.el-select .el-input__inner,
.el-select-dropdown__item.selected,
.el-select-dropdown__item.hover,
.el-input-group__append,
.el-input-group__prepend {
  color: #FFF;
}

.el-tree {
  background: #1B1C3B;
  padding: 20px;
}
.el-header, .el-footer {
  background-color: #2a2a4a;
  color: #f6f6fb;
  line-height: 60px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.el-main {
  background-color: #1B1C3B;
  color: #f6f6fb;
}
#headerNav {
  padding:0 30px;
}

#headerNav a {
  font-weight: bold;
  color: #f6f6fb;
}

#headerNav a.router-link-exact-active {
  color: #6c5ffc;
  text-decoration: none;
}

#curdOne .el-select,#curdOne .el-select .el-input,
#curdAdd .el-select,#curdAdd .el-select .el-input{
    width: 100% !important;
}
