{{#def.parts}}
{{#def.header:{rootPath:it.rootPath || '',title:'账户信息'} }}
{{#def.main:{rootPath:it.rootPath || '',title:"Console",userName:it.userName || ''} }}
<div class="ui-container">
  <div class="ui-card">
    <div class="page-header">
      <h3 class="page-title">权限配置</h3>
      <div class="page-actions">
        <button class="ui-button" id="btn-back" style="display: none;">返回</button>
        <button class="ui-button primary" id="btn-save" data-loading-text="更新中...">保存配置</button>
      </div>
    </div>
    <hr class="ui-divider">
    <div id="detail-container">
      <div id="permission-tree" class="ui-card" style="padding: 10px;">
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="id" id="id" value="{{=it.id}}" />
{{#def.footer:{rootPath:it.rootPath || '',link:it.link,scripts:'<script src="'+(it.rootPath || '')+'js/permission.js"></script>'} }}